html {
  font-size: 12px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title {
  text-align: center;
}

#tooltip {
  border: 1px solid black;
  background-color: white;
  padding: 5px;
  position: absolute;
  opacity: 0;
}
