<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>D3.js bar chart</title>
  </head>
  <body>
    <main>
      <h1 id="title">
      </h1>
      <div id="graph">
      </div>
    </main>
  </body>
</html>
